@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border: 3px solid tomato;
}

.table-container {
    width: 100%;
    height: 100%;
    padding-top: 1vw;
}

th,
td {
    padding: 15px;
    border: 1px solid tomato;
}

tr:nth-child(even) {
    background: #ccc;
}

tr:nth-child(odd) {
    background: #eee;
}

tr:first-child {
    background: tomato;
}

.table-header {
    border: 3px solid tomato;
}